pre{
    padding: 0;
    margin: 0;
    border-radius: 0;
    background: none;
    border: none;
}

textarea{
    width: 90%!important;
    display: inline-block!important;
    border-radius: 0!important;
    border: none;
    border: 3px dashed #646464!important;
}

.header{
    background: #9b59b6;
    color: #fff;
}

.textAreas{
    text-align: center!important;
}

.leftSide{
    width: 48%;
    float: left;
}

.rightSide{
    width: 48%;
    float: right;
}

.result{
    text-align: left;
    color: black;
    text-shadow: none;
}

footer{
    margin-top: 10rem;
}

footer a{
    color: #ecf0f1;
}

footer a:hover{
    color: #ccc;
}

.inner{
    margin-top: 5rem;
}
.footerDiv{
    background: #8e44ad;
    position: relative!important;
    text-align: center;
    color: #fff;
}

.madeWith{
    font-size: 0.4rem;
    background: none!important;
    border: none;
    border-radius: 0;
    color: #dedede;
}